DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
.scannerwork/
coverage.xml
*.log

# build and release
yarn.lock
node_modules
package.json